<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybór obiadu</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="https://th.bing.com/th/id/OIP.go-3SeXNJ76Vao7QjFbyXgHaEo?pid=ImgDet&rs=1" alt="Obrazek" />
        <h2>Wybierz opcję:</h2>
        <a class="btn" href="{% url 'obiad:register' %}">Zarejestruj się</a>
        <a class="btn" href="{% url 'obiad:user_login' %}">Zaloguj się</a>
    </div>
</body>
</html>
