<!DOCTYPE html>
<html lang="pl">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rezerwacja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Wybór obiadu</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Śniadanie</th>
                        <th>Obiad</th>
                        <th>Kolacja</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in all_days %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>
                            <input type="checkbox" name="want_sniadanie_{{ day }}" {% if obiad_choice.want_sniadanie and obiad_choice.date == day %}checked{% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" name="want_obiad_{{ day }}" {% if obiad_choice.want_obiad and obiad_choice.date == day %}checked{% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" name="want_kolacja_{{ day }}" {% if obiad_choice.want_kolacja and obiad_choice.date == day %}checked{% endif %}>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Zapisz wybór</button>
        </form>
        <a class="btn" href="{% url 'obiad:kucharz_dashboard' %}">Panel kucharza</a>
        <p><a class="btn" href="{% url 'obiad:index' %}">Powrót do strony głównej</a></p>
    </div>
    

</body>
</html>
